USE [master]
GO
/****** Object:  Database [dasalud-core-db]    Script Date: 23/11/2025 19:43:17 ******/
CREATE DATABASE [dasalud-core-db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dasalud-core-db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\dasalud-core-db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dasalud-core-db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\dasalud-core-db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dasalud-core-db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dasalud-core-db]
GO
/****** Object:  Table [dbo].[CITAS]    Script Date: 23/11/2025 19:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CITAS](
	[idCita] [int] IDENTITY(1,1) NOT NULL,
	[idPaciente] [int] NOT NULL,
	[idEmpleado] [int] NOT NULL,
	[idEstado] [int] NOT NULL,
	[fechaCita] [datetime2](0) NOT NULL,
	[costo] [decimal](12, 2) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_CITAS] PRIMARY KEY CLUSTERED 
(
	[idCita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADOS]    Script Date: 23/11/2025 19:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADOS](
	[idEmpleado] [int] NOT NULL,
	[idRol] [int] NOT NULL,
	[idEspecialidad] [int] NOT NULL,
	[usuario] [nvarchar](255) NOT NULL,
	[contrasena] [nvarchar](255) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_EMPLEADOS] PRIMARY KEY CLUSTERED 
(
	[idEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESPECIALIDADES]    Script Date: 23/11/2025 19:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESPECIALIDADES](
	[idEspecialidad] [int] IDENTITY(1,1) NOT NULL,
	[nombreEspecialidad] [nvarchar](150) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_ESPECIALIDADES] PRIMARY KEY CLUSTERED 
(
	[idEspecialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADOS_CITAS]    Script Date: 23/11/2025 19:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADOS_CITAS](
	[idEstado] [int] IDENTITY(1,1) NOT NULL,
	[nombreEstado] [nvarchar](100) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_ESTADOS_CITAS] PRIMARY KEY CLUSTERED 
(
	[idEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PACIENTES]    Script Date: 23/11/2025 19:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PACIENTES](
	[idPaciente] [int] NOT NULL,
	[tipoSangre] [nvarchar](5) NULL,
	[peso] [decimal](6, 2) NULL,
	[altura] [decimal](5, 2) NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_PACIENTES] PRIMARY KEY CLUSTERED 
(
	[idPaciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONAS]    Script Date: 23/11/2025 19:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONAS](
	[idPersona] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [nvarchar](100) NOT NULL,
	[apellidos] [nvarchar](100) NOT NULL,
	[correo] [nvarchar](255) NULL,
	[DUI] [varchar](20) NULL,
	[telefono] [varchar](30) NULL,
	[direccion] [nvarchar](255) NULL,
 CONSTRAINT [PK_PERSONAS] PRIMARY KEY CLUSTERED 
(
	[idPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 23/11/2025 19:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[idRol] [int] IDENTITY(1,1) NOT NULL,
	[nombreRol] [nvarchar](100) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_ROLES] PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CITAS] ON 

INSERT [dbo].[CITAS] ([idCita], [idPaciente], [idEmpleado], [idEstado], [fechaCita], [costo], [activo]) VALUES (1, 2, 1, 4, CAST(N'2025-05-16T19:31:36.0000000' AS DateTime2), CAST(50.00 AS Decimal(12, 2)), 1)
INSERT [dbo].[CITAS] ([idCita], [idPaciente], [idEmpleado], [idEstado], [fechaCita], [costo], [activo]) VALUES (2, 3, 1, 4, CAST(N'2025-05-16T19:31:36.0000000' AS DateTime2), CAST(50.00 AS Decimal(12, 2)), 1)
INSERT [dbo].[CITAS] ([idCita], [idPaciente], [idEmpleado], [idEstado], [fechaCita], [costo], [activo]) VALUES (3, 4, 7, 4, CAST(N'2025-05-16T19:31:36.0000000' AS DateTime2), CAST(75.00 AS Decimal(12, 2)), 1)
SET IDENTITY_INSERT [dbo].[CITAS] OFF
GO
INSERT [dbo].[EMPLEADOS] ([idEmpleado], [idRol], [idEspecialidad], [usuario], [contrasena], [activo]) VALUES (1, 1, 5, N'admin', N'JAvlGPq9JyTdtvBO6x2llnRI1+gxwIyPqCKAn3THIKk=', 1)
INSERT [dbo].[EMPLEADOS] ([idEmpleado], [idRol], [idEspecialidad], [usuario], [contrasena], [activo]) VALUES (7, 2, 2, N'dr.sanchez', N'jGl25bVBBBW96Qi9Te4V37Fnqchz/Eu4qB9vKrRIqRg=', 1)
GO
SET IDENTITY_INSERT [dbo].[ESPECIALIDADES] ON 

INSERT [dbo].[ESPECIALIDADES] ([idEspecialidad], [nombreEspecialidad], [activo]) VALUES (1, N'Medicina General', 1)
INSERT [dbo].[ESPECIALIDADES] ([idEspecialidad], [nombreEspecialidad], [activo]) VALUES (2, N'Pediatría', 1)
INSERT [dbo].[ESPECIALIDADES] ([idEspecialidad], [nombreEspecialidad], [activo]) VALUES (3, N'Cardiología', 1)
SET IDENTITY_INSERT [dbo].[ESPECIALIDADES] OFF
GO
SET IDENTITY_INSERT [dbo].[ESTADOS_CITAS] ON 

INSERT [dbo].[ESTADOS_CITAS] ([idEstado], [nombreEstado], [activo]) VALUES (1, N'Pendiente', 1)
INSERT [dbo].[ESTADOS_CITAS] ([idEstado], [nombreEstado], [activo]) VALUES (2, N'Confirmada', 1)
INSERT [dbo].[ESTADOS_CITAS] ([idEstado], [nombreEstado], [activo]) VALUES (3, N'En Progreso', 1)
SET IDENTITY_INSERT [dbo].[ESTADOS_CITAS] OFF
GO
INSERT [dbo].[PACIENTES] ([idPaciente], [tipoSangre], [peso], [altura], [activo]) VALUES (2, N'O+', CAST(70.50 AS Decimal(6, 2)), CAST(1.75 AS Decimal(5, 2)), 1)
INSERT [dbo].[PACIENTES] ([idPaciente], [tipoSangre], [peso], [altura], [activo]) VALUES (3, N'A+', CAST(65.00 AS Decimal(6, 2)), CAST(1.65 AS Decimal(5, 2)), 1)
INSERT [dbo].[PACIENTES] ([idPaciente], [tipoSangre], [peso], [altura], [activo]) VALUES (4, N'B+', CAST(80.00 AS Decimal(6, 2)), CAST(1.80 AS Decimal(5, 2)), 1)
GO
SET IDENTITY_INSERT [dbo].[PERSONAS] ON 

INSERT [dbo].[PERSONAS] ([idPersona], [nombres], [apellidos], [correo], [DUI], [telefono], [direccion]) VALUES (1, N'Admin', N'Sistema', N'admin@dasalud.com', N'00000000-0', N'0000-0000', N'Oficina Central')
INSERT [dbo].[PERSONAS] ([idPersona], [nombres], [apellidos], [correo], [DUI], [telefono], [direccion]) VALUES (2, N'Juan', N'Pérez', N'juan.perez@example.com', N'12345678-9', N'7777-7777', N'San Salvador')
INSERT [dbo].[PERSONAS] ([idPersona], [nombres], [apellidos], [correo], [DUI], [telefono], [direccion]) VALUES (3, N'María', N'García', N'maria.garcia@example.com', N'98765432-1', N'7777-8888', N'Santa Ana')
SET IDENTITY_INSERT [dbo].[PERSONAS] OFF
GO
SET IDENTITY_INSERT [dbo].[ROLES] ON 

INSERT [dbo].[ROLES] ([idRol], [nombreRol], [activo]) VALUES (1, N'Administrador', 1)
INSERT [dbo].[ROLES] ([idRol], [nombreRol], [activo]) VALUES (2, N'Médico', 1)
INSERT [dbo].[ROLES] ([idRol], [nombreRol], [activo]) VALUES (3, N'Enfermero', 1)
SET IDENTITY_INSERT [dbo].[ROLES] OFF
GO
/****** Object:  Index [IX_CITAS_fechaCita]    Script Date: 23/11/2025 19:43:17 ******/
CREATE NONCLUSTERED INDEX [IX_CITAS_fechaCita] ON [dbo].[CITAS]
(
	[fechaCita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_EMPLEADOS_usuario]    Script Date: 23/11/2025 19:43:17 ******/
ALTER TABLE [dbo].[EMPLEADOS] ADD  CONSTRAINT [UQ_EMPLEADOS_usuario] UNIQUE NONCLUSTERED 
(
	[usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ESPECIALIDADES_nombre]    Script Date: 23/11/2025 19:43:17 ******/
ALTER TABLE [dbo].[ESPECIALIDADES] ADD  CONSTRAINT [UQ_ESPECIALIDADES_nombre] UNIQUE NONCLUSTERED 
(
	[nombreEspecialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ESTADOS_CITAS_nombre]    Script Date: 23/11/2025 19:43:17 ******/
ALTER TABLE [dbo].[ESTADOS_CITAS] ADD  CONSTRAINT [UQ_ESTADOS_CITAS_nombre] UNIQUE NONCLUSTERED 
(
	[nombreEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IXU_PERSONAS_correo]    Script Date: 23/11/2025 19:43:17 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IXU_PERSONAS_correo] ON [dbo].[PERSONAS]
(
	[correo] ASC
)
WHERE ([correo] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IXU_PERSONAS_DUI]    Script Date: 23/11/2025 19:43:17 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IXU_PERSONAS_DUI] ON [dbo].[PERSONAS]
(
	[DUI] ASC
)
WHERE ([DUI] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ROLES_nombre]    Script Date: 23/11/2025 19:43:17 ******/
ALTER TABLE [dbo].[ROLES] ADD  CONSTRAINT [UQ_ROLES_nombre] UNIQUE NONCLUSTERED 
(
	[nombreRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CITAS] ADD  CONSTRAINT [DF_CITAS_costo]  DEFAULT ((0)) FOR [costo]
GO
ALTER TABLE [dbo].[CITAS] ADD  CONSTRAINT [DF_CITAS_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[EMPLEADOS] ADD  CONSTRAINT [DF_EMPLEADOS_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[ESPECIALIDADES] ADD  CONSTRAINT [DF_ESP_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[ESTADOS_CITAS] ADD  CONSTRAINT [DF_ESTADOS_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[PACIENTES] ADD  CONSTRAINT [DF_PACIENTES_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[ROLES] ADD  CONSTRAINT [DF_ROLES_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[CITAS]  WITH CHECK ADD  CONSTRAINT [FK_CITAS_EMPLEADOS] FOREIGN KEY([idEmpleado])
REFERENCES [dbo].[EMPLEADOS] ([idEmpleado])
GO
ALTER TABLE [dbo].[CITAS] CHECK CONSTRAINT [FK_CITAS_EMPLEADOS]
GO
ALTER TABLE [dbo].[CITAS]  WITH CHECK ADD  CONSTRAINT [FK_CITAS_ESTADOS] FOREIGN KEY([idEstado])
REFERENCES [dbo].[ESTADOS_CITAS] ([idEstado])
GO
ALTER TABLE [dbo].[CITAS] CHECK CONSTRAINT [FK_CITAS_ESTADOS]
GO
ALTER TABLE [dbo].[CITAS]  WITH CHECK ADD  CONSTRAINT [FK_CITAS_PACIENTES] FOREIGN KEY([idPaciente])
REFERENCES [dbo].[PACIENTES] ([idPaciente])
GO
ALTER TABLE [dbo].[CITAS] CHECK CONSTRAINT [FK_CITAS_PACIENTES]
GO
ALTER TABLE [dbo].[EMPLEADOS]  WITH CHECK ADD  CONSTRAINT [FK_EMPLEADOS_ESPECIALIDADES] FOREIGN KEY([idEspecialidad])
REFERENCES [dbo].[ESPECIALIDADES] ([idEspecialidad])
GO
ALTER TABLE [dbo].[EMPLEADOS] CHECK CONSTRAINT [FK_EMPLEADOS_ESPECIALIDADES]
GO
ALTER TABLE [dbo].[EMPLEADOS]  WITH CHECK ADD  CONSTRAINT [FK_EMPLEADOS_PERSONAS] FOREIGN KEY([idEmpleado])
REFERENCES [dbo].[PERSONAS] ([idPersona])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EMPLEADOS] CHECK CONSTRAINT [FK_EMPLEADOS_PERSONAS]
GO
ALTER TABLE [dbo].[EMPLEADOS]  WITH CHECK ADD  CONSTRAINT [FK_EMPLEADOS_ROLES] FOREIGN KEY([idRol])
REFERENCES [dbo].[ROLES] ([idRol])
GO
ALTER TABLE [dbo].[EMPLEADOS] CHECK CONSTRAINT [FK_EMPLEADOS_ROLES]
GO
ALTER TABLE [dbo].[PACIENTES]  WITH CHECK ADD  CONSTRAINT [FK_PACIENTES_PERSONAS] FOREIGN KEY([idPaciente])
REFERENCES [dbo].[PERSONAS] ([idPersona])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PACIENTES] CHECK CONSTRAINT [FK_PACIENTES_PERSONAS]
GO
ALTER TABLE [dbo].[CITAS]  WITH CHECK ADD  CONSTRAINT [CK_CITAS_costo] CHECK  (([costo]>=(0)))
GO
ALTER TABLE [dbo].[CITAS] CHECK CONSTRAINT [CK_CITAS_costo]
GO
ALTER TABLE [dbo].[PACIENTES]  WITH CHECK ADD  CONSTRAINT [CK_PACIENTES_altura] CHECK  (([altura] IS NULL OR [altura]>=(0)))
GO
ALTER TABLE [dbo].[PACIENTES] CHECK CONSTRAINT [CK_PACIENTES_altura]
GO
ALTER TABLE [dbo].[PACIENTES]  WITH CHECK ADD  CONSTRAINT [CK_PACIENTES_peso] CHECK  (([peso] IS NULL OR [peso]>=(0)))
GO
ALTER TABLE [dbo].[PACIENTES] CHECK CONSTRAINT [CK_PACIENTES_peso]
GO
USE [master]
GO
